# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ipynb_checkpoints/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Database / MLflow
mlflow/mlflow.db
mlflow/mlruns/
timescale_data/

# Environments
.env
.venv
venv/
ENV/
